# Build outputs
*.a
*.d
*.o
kernel.bin
kernel.dis
kernel.elf
kernel.map
disk.img
ext2.img
fat32.img
userfs.bin
userfs.tar
userfs/init.sh
userfs/hello.txt
userfs/test.txt
userfs/tmp/
userfs/etc/os.conf

# Generated build/install trees
build/
newlib-port/build/
userfs/bin/
userfs/legacy/bin-libc/
userfs/opt/newlib/bin/nl-*
userfs/usr/bin/cat
userfs/usr/bin/chmod
userfs/usr/bin/chown
userfs/usr/bin/basename
userfs/usr/bin/cmp
userfs/usr/bin/cp
userfs/usr/bin/date
userfs/usr/bin/df
userfs/usr/bin/dirname
userfs/usr/bin/du
userfs/usr/bin/echo
userfs/usr/bin/env
userfs/usr/bin/false
userfs/usr/bin/find
userfs/usr/bin/free
userfs/usr/bin/grep
userfs/usr/bin/head
userfs/usr/bin/keytest
userfs/usr/bin/killall
userfs/usr/bin/kilo
userfs/usr/bin/kill
userfs/usr/bin/ln
userfs/usr/bin/ls
userfs/usr/bin/lps
userfs/usr/bin/mash
userfs/usr/bin/memstress
userfs/usr/bin/mkdir
userfs/usr/bin/mount
userfs/usr/bin/mount-fat32
userfs/usr/bin/mv
userfs/usr/bin/ps
userfs/usr/bin/pwd
userfs/usr/bin/printf
userfs/usr/bin/rm
userfs/usr/bin/rmdir
userfs/usr/bin/screen_demo
userfs/usr/bin/sed
userfs/usr/bin/shutdown
userfs/usr/bin/sleep
userfs/usr/bin/sort
userfs/usr/bin/stat
userfs/usr/bin/sync
userfs/usr/bin/tail
userfs/usr/bin/tee
userfs/usr/bin/systest
userfs/usr/bin/ttyinfo
userfs/usr/bin/touch
userfs/usr/bin/true
userfs/usr/bin/umount
userfs/usr/bin/uname
userfs/usr/bin/uniq
userfs/usr/bin/uptime
userfs/usr/bin/wc
userfs/usr/bin/who
userfs/usr/bin/whoami
userfs/usr/bin/which
userfs/usr/bin/write
userfs/usr/bin/nl-*
userland/*/*.o
userland/hello/hello
userland/*/hello2
userland/mash/mash
userland/*/malloc
userland/*/readfile
userland/*/term_demo
userland/*/term_dmo
userland/*/ansy_tty
userland/coreutils/cat
userland/coreutils/chmod
userland/coreutils/chown
userland/coreutils/basename
userland/coreutils/cmp
userland/coreutils/cp
userland/coreutils/date
userland/coreutils/df
userland/coreutils/dirname
userland/coreutils/du
userland/coreutils/echo
userland/coreutils/env
userland/coreutils/false
userland/coreutils/find
userland/coreutils/free
userland/coreutils/grep
userland/coreutils/head
userland/coreutils/keytest
userland/coreutils/killall
userland/coreutils/kilo
userland/coreutils/kill
userland/coreutils/ln
userland/coreutils/ls
userland/coreutils/lps
userland/coreutils/memstress
userland/coreutils/mkdir
userland/coreutils/mount
userland/coreutils/mount-fat32
userland/coreutils/mv
userland/coreutils/ps
userland/coreutils/pwd
userland/coreutils/printf
userland/coreutils/rm
userland/coreutils/rmdir
userland/coreutils/screen_demo
userland/coreutils/sed
userland/coreutils/shutdown
userland/coreutils/sleep
userland/coreutils/sort
userland/coreutils/stat
userland/coreutils/sync
userland/coreutils/tail
userland/coreutils/tee
userland/coreutils/ttyinfo
userland/coreutils/touch
userland/coreutils/true
userland/coreutils/umount
userland/coreutils/uname
userland/coreutils/uniq
userland/coreutils/uptime
userland/coreutils/wc
userland/coreutils/who
userland/coreutils/whoami
userland/coreutils/which
userland/coreutils/write
userland/systest/systest
userland/newlib-tests/nl-*

# Logs and local editor files
*.log
.DS_Store
**/.DS_Store
.idea/
.vscode/

# Third-party archives
*.tar.gz
