# Build outputs
*.a
*.d
*.o
kernel.bin
bl1.bin
kernel.dis
kernel.elf
kernel.map
disk.img
ext2.img
fat32.img
userfs.bin
userfs.tar
userfs/init.sh
userfs/hello.txt
userfs/test.txt
userfs/tmp/
userfs/etc/os.conf

# Generated build/install trees
build/
newlib-port/build/
userfs/bin/
userfs/sbin/
userfs/usr/bin/
userfs/legacy/bin-libc/
userfs/opt/*/bin/*
userfs/opt/tcc/
userland/*/*.o
userland/nl-*
userland/legacy/homegrown-libc/**/*.o
userland/legacy/homegrown-libc/**/.DS_Store
userland/legacy/homegrown-libc/**/hello
userland/legacy/homegrown-libc/**/hello2
userland/legacy/homegrown-libc/**/malloc
userland/legacy/homegrown-libc/**/readfile
userland/legacy/homegrown-libc/**/systest
userland/legacy/homegrown-libc/**/term_demo
userland/legacy/homegrown-libc/**/term_dmo
userland/legacy/homegrown-libc/**/ansy_tty

# Logs and local editor files
*.log
output/
.DS_Store
**/.DS_Store
.idea/
.vscode/

# Third-party archives
*.tar.gz
